$styleguide-rule: 2rem;
$styleguide-margin: 25px;
$styleguide-color01: #f0f0f0;
$styleguide-color02: #666;
$styleguide-color03: #000;
$styleguide-color04: #e0e0e0;

@import 'styleguide_partials/styleguide-index';
@import 'styleguide_partials/styleguide-component';
@import 'styleguide_partials/styleguide-nav';
@import 'styleguide_partials/styleguide-breadcrumbs';