.styleguide-component
{
	margin: $styleguide-margin;

	&__item
	{
		color: $styleguide-color03;
		font-size: 20px;
		margin-bottom: $styleguide-margin;
	}

	&__grid
	{
		display: grid;
		width: 100%;
		grid-template-columns: 1fr;
		grid-column-gap: $styleguide-margin;
		grid-row-gap: $styleguide-margin;
	}

	&__modifier
	{
		margin-bottom: $styleguide-rule / 3;
	}

	&__render
	{
		display: flex;
		padding: $styleguide-margin;
		border: 2px dashed $styleguide-color04;
		margin-bottom: $styleguide-margin;
	}
}