@include block('styleguide-nav')
{
	background-color: $styleguide-color04;
	padding: $styleguide-margin / 2 $styleguide-margin;

	a
	{
		border-bottom: 1px dotted $styleguide-color03;
		margin: 0 $rule / 4;
		color: $styleguide-color03;

		&:hover
		{
			color: $styleguide-color02;
			border-color: $styleguide-color02;
		}
	}
}